/*
  我们依然保留对 base.css 的引用，
  因为它包含了一些有用的“样式重置”，可以抹平浏览器之间的差异。
*/
@import './base.css';

/*
  然后，我们只需要给 #app 这个最外层的容器一个最简单的样式，
  让它能撑满整个屏幕高度就行了。
  其他所有布局，都交给我们自己在组件里控制。
*/
#app {
  width: 100%;
  height: 100vh; /* vh 是视口高度单位，100vh 就是屏幕高度的100% */
}

a {
  text-decoration: none;
  color: #00aaff; /* 可以给链接一个默认颜色 */
  transition: 0.4s;
}
